<ion-content class="noscroll">
  <div id='mapid'>
    <div id="divInfo" style=" position: relative;height: 40%; border-color: black; "><!-- display:none -->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle *ngIf="scooterinfo">ID: {{scooterinfo.id}}</ion-card-subtitle>
          <ion-card-title *ngIf="scooterinfo">Serial number: {{scooterinfo.numeroserial}}</ion-card-title>
          <ion-card-content></ion-card-content>
        </ion-card-header>

        <ion-card-content>
          Descripcion , Serial bla bla
        </ion-card-content>
      </ion-card>
      <div>
        <ion-button (click)="iniciarViaje()" expand="block">Iniciar</ion-button>
        <ion-button (click)="volver()" expand="block">Cancelar</ion-button>
        <ion-button expand="block">FINALIZAR VIAJE</ion-button>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="abrirQR()">
        <ion-icon name="expand"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>