<ion-header>
  <ion-toolbar>
    <ion-title>
      MAPA URUDIN.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow: hidden">
  
  <div id='mapid' >
    <div class="buttoniniciar">
      <ion-button  expand="block" (click)="abrirQR()">Iniciar Viaje</ion-button>
    </div>
    <div id="divInfo"  style=" position: relative;height: 40%; border-color: black; display: none">
      <ion-card>
          <ion-card-header >
            <ion-card-subtitle id="infoscooter">subtitulo</ion-card-subtitle>
            <ion-card-title id="idscooter">ID :</ion-card-title>
            <ion-card-content></ion-card-content>
          </ion-card-header>
        
          <ion-card-content>
          Descripcion , Serial bla bla
          </ion-card-content>
      </ion-card>
      <div>
          <ion-button  expand="block">Iniciar</ion-button>
          <ion-button (click)="volver()" expand="block">Cancelar</ion-button>
      </div>
    </div>  
  </div>

  


</ion-content>
