<ion-content class="noscroll">
  <div id='mapid' *ngIf="!datosQR">
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!datosQR">
    <ion-fab-button (click)="abrirQR()">
        <ion-icon name="expand"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="datosQR" id="divInfo" >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle >Id: {{scooterinfo?.id}} #{{scooterinfo?.numeroserial}}</ion-card-subtitle>
          <ion-card-title >
            Bateria: {{scooterinfo?.bateria}}% <br>
            Km de recorido: {{scooterinfo?.kmDisponibles}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content  *ngIf="!enViaje && !viajeFinalizado">Costo Base: {{scooterinfo?.costoBase}} <br>
            Costo Por Minuto: {{scooterinfo?.costoMinuto}} <br>
            Encendido: {{scooterinfo?.encendido}}  <br>
            Siendo Utilizado: {{scooterinfo?.enuso}} <br>
            Si el scooter esta apagado usted no tendra la opcion de Iniciar Viaje

        </ion-card-content>
        <ion-card-content  *ngIf="enViaje">Costo Base: {{scooterinfo?.costoBase}} <br>
          Costo Por Minuto: {{scooterinfo?.costoMinuto}} <br>
          Encendido: {{scooterinfo?.encendido}}  <br>
          Siendo Utilizado: {{scooterinfo?.enuso}}
          <br>
          <br>
          Datos del VIAJE:<br>
          Id Viaje: {{datosViaje?.id}}<br>
          Estado: {{datosViaje?.estado}}<br>
        </ion-card-content>
        <ion-card-content  *ngIf="viajeFinalizado">
          Minutos viaje: {{resumenViaje?.minutos}}  <br>
          Costo Por Minuto: {{resumenViaje?.costoMinuto}} <br>
          Costo Base: {{resumenViaje?.costoBase}} <br>
          Costo Total de este Viaje: {{resumenViaje?.costoTotal}}
        </ion-card-content>
      </ion-card>

      <div>
        <ion-button (click)="iniciarViaje()"  *ngIf="!enViaje && !viajeFinalizado && scooterinfo?.encendido"  expand="block">Iniciar viaje</ion-button>
        <ion-button (click)="volver()" expand="block" *ngIf="!enViaje  && !viajeFinalizado">Volver</ion-button>
        <ion-button (click)="finalizarviaje()" expand="block" *ngIf="enViaje && !viajeFinalizado" >FINALIZAR VIAJE</ion-button>
        <ion-button (click)="volver()" expand="block" *ngIf="viajeFinalizado">ACEPTAR</ion-button>
      </div>
    </div>

</ion-content>