ion-toolbar{
    text-align: center;
}
.noscroll{
    overflow: hidden;
}

#mapid{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

.buttoniniciar{
    position: relative;
    pointer-events: none;
    z-index: 2;
    top: 90%;
    left: 0%;
    width: 100%;
    height: 0;
}
