
#mapid{
    width: 100% !important;
    height: 100% !important;
    background-color: #f6f6f6;
}

.buttoniniciar{
    position: absolute;
    pointer-events: none;
    z-index: 2;
    top: 90%;
    left: 0%;
    width: 100%;
}