<ion-header>
  <ion-toolbar>
      <ion-title>
      MI PERFIL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-card style="width: 100%" >
        <ion-card-header>
          <ion-card-subtitle>Usuario urudin</ion-card-subtitle>
          <ion-card-title *ngIf="userme" id="divuser">{{userme.email}}</ion-card-title>
        </ion-card-header>
        <ion-card-header>
          <ion-card-subtitle>Nombre y Apellido</ion-card-subtitle>
          <ion-card-title *ngIf="userme" id="divuser">{{userme.nombre}} {{userme.apellido}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
      <ion-item>
        <ion-card style="width: 100%" >
          <ion-card-header>
            <ion-card-subtitle>Dinero acreditado:</ion-card-subtitle>
            <ion-card-title  *ngIf="userme">{{userme.saldo}}</ion-card-title>
          </ion-card-header>
        </ion-card> 
      </ion-item>
      <ion-item>
        <ion-button (click)="redirect1()">
          Modificar mis datos personales
        </ion-button>      
      </ion-item>
      <ion-item>
        <ion-button (click)="redirect2()">
          Cargar dinero en Monedero Digital
        </ion-button>      
      </ion-item>
      <ion-item>
        <ion-button >
          Click me
        </ion-button>      
      </ion-item>
      <ion-item>
          <ion-button (click)="exit()" color="danger" i->
            Salir
          </ion-button>      
        </ion-item>
   
  </ion-list>

</ion-content>


