<ion-header>
  <ion-toolbar>
    <ion-title>
      OTRAS OPCIONES
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
       
        <ion-item>
          <ion-button >
                Mis Viajes          
          </ion-button>      
        </ion-item>
        <ion-item>
          <ion-button>
            Mis pagos
          </ion-button>      
        </ion-item>
        <ion-item>
          <ion-button >
            Click me
          </ion-button>      
        </ion-item>
        <ion-item>
            <ion-button color="danger" i->
              Salir
            </ion-button>      
          </ion-item>
     
    </ion-list>
  
  </ion-content>
