<ion-content color="dark">

  <ion-card color="primary">
    <ion-card-header color="primary">
      <ion-card-title>Urudin</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-content color="light">
      <ion-grid>
        <form #form="ngForm" (ngSubmit)="logueo(form)">
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <ion-input padding color="primary" name="email" type="email" placeholder="tu@correo.com" ngModel required>
              </ion-input>
              <div id="grp">
                <div>
                  <ion-button color="primary" size="default" type="submit" [disabled]="form.invalid" expand="block">
                    Entrar
                  </ion-button>
                </div>
                <div>
                  <ion-button color="primary" size="default" expand="block" routerLink='/register'>Registrarse
                  </ion-button>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>