<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>MI monedero</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>
    <ion-card-header>Dinero disponible </ion-card-header>
      <ion-card-content>
          <ion-card-title *ngIf="userme">$ {{userme.saldo}}</ion-card-title>
      </ion-card-content>
 
  </ion-card>
  <ion-card>
    <ion-card-header>Desea cargar dinero en su monedero?</ion-card-header>
      <ion-card-content>
         <ion-button (click)="activardiv()">Cargar Dinero</ion-button>
      </ion-card-content>
 
  </ion-card>
  <div id="divoculto" style="display: none" >
      <ion-card>
          <ion-card-header>Ingrese el monto a cargar </ion-card-header>
            <ion-card-content>
                <ion-input id="monto" type="number" placeholder="Monto"></ion-input>
                <!-- TODO:Establece minimo y maximo-->
                <ion-button (click)="cargarmonto()">Cargar</ion-button>
                <ion-button (click)="cancelar()">Cancelar</ion-button>

            </ion-card-content>
       
        </ion-card>
   </div>
</ion-content>
