<ion-header>
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
    <ion-card>
        <ion-item>
            <ion-icon name="notifications" slot="start"></ion-icon>
            <ion-label>Notificacion #56 </ion-label>
            <ion-button fill="outline" slot="end">Eliminar</ion-button>
          </ion-item>
        <ion-card-header>
          <ion-card-title>Notificacion una cualquiera</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Soy el contenido de una notificacion enviada por el servidor
        </ion-card-content>
      </ion-card>
      
   
  
</ion-content>
